/* Reset default list styling */
ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Make list items display in a row */
.vertical-list {
  display: flex; /* Flexbox layout for horizontal alignment */
  flex-direction: column;
}

.vertical-list li {
  margin: 10px; /* Adds space between items */
}

.sportEventListItemEntry{
  margin: 10px;
}